* {
    font-family: Arial, Verdana, Tahoma;
}

h1 {
    color: rgb(27, 186, 165);
    text-align: center;
    background-color: rgb(179, 29, 86);
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    font-size: 16px;
    text-align: center;
}

.image {
    margin: 20px auto;
    width: 250px;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}